@model List<biVerifier.Models.TechCancel>

@{
    ViewData["Title"] = "Tech Cancel";
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
    <script>
        function exportToExcel() {
            var table = document.getElementById('dataTable');
            var ws = XLSX.utils.table_to_sheet(table);
            var wb = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');
            XLSX.writeFile(wb, 'TechCancelReport.xlsx');
        }

        function hideTable() {
            var table = document.getElementById('dataTable');
            table.style.display = 'none';
        }

        window.onload = hideTable;
    </script>
}

<div class="custom-container" style="margin-top: 4rem">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <div class="">
                        <div class="d-flex align-items-center justify-content-between mb-20">
                            <div>
                                <h4 class="box-title" style="text-transform: uppercase; font-weight: bold;">Cancels</h4>
                            </div>
                            <div>
                                <button class="btn btn-primary" onclick="exportToExcel()">Export to Excel</button>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 mt-4">
                        <div class="col-md-6">
                            <form method="get" asp-controller="TechCancel" asp-action="Index">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" name="searchTerm" placeholder="Search by Client, Site ID, Date, or Tech Responsible" value="@ViewBag.SearchTerm" />
                                    <label for="floatingSearch">Search by Client, Site ID, Date, or Tech Responsible</label>
                                </div>
                                <button class="btn btn-primary" type="submit">Search</button>

                            </form>
                        </div>
                        

                       
                    </div>
                    <div class="table-responsive rounded card-table">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Client</th>
                                    <th>Site ID</th>
                                    <th>Date</th>
                                    <th>Tech Responsibility</th>
                                    <th>Total Channels</th>
                                    <th>Platform</th>
                                    <th>Cancel GSM</th>
                                    <th>Cancel DNS</th>
                                    <th>Cancel LPR Licenses</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var cData in Model)
                                {
                                    <tr class="hover-primary">
                                        <td>@cData?.Client</td>
                                        <td>@cData?.SiteID</td>
                                        <td>@cData?.Date</td>
                                        <td>
                                            <span class="badge bg-warning px-3 py-2" style="text-transform: uppercase">
                                                @cData?.TechResponsible
                                            </span>
                                        </td>
                                        <td>@cData?.Total_Channels</td>
                                        <td>
                                            <span class="badge bg-primary px-3 py-2">
                                                @cData?.Platform
                                            </span>
                                        </td>
                                        <td>@cData?.Cancel_GSM</td>
                                        <td>@cData?.Cancel_DNS</td>
                                        <td>@cData?.Cancel_LPR_Licenses</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <table id="dataTable" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Client</th>
                                    <th>Site ID</th>
                                    <th>Date</th>
                                    <th>Tech Responsibility</th>
                                    <th>Total Channels</th>
                                    <th>Platform</th>
                                    <th>Cancel GSM</th>
                                    <th>Cancel DNS</th>
                                    <th>Cancel LPR Licenses</th>
                                    <th>Cancel Video Analytics Licenses</th>
                                    <th>Cancel Internet Connectivity</th>
                                    <th>Cancel Billing</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var cData in Model)
                                {
                                    <tr class="hover-primary">
                                        <td>@cData?.Client</td>
                                        <td>@cData?.SiteID</td>
                                        <td>@cData?.Date</td>
                                        <td>@cData?.TechResponsible</td>
                                        <td>@cData?.Total_Channels</td>
                                        <td>@cData?.Platform</td>
                                        <td>@cData?.Cancel_GSM</td>
                                        <td>@cData?.Cancel_DNS</td>
                                        <td>@cData?.Cancel_LPR_Licenses</td>
                                        <td>@cData?.Cancel_Video_Analytics_Licenses</td>
                                        <td>@cData?.Cancel_Internet_Connectivity</td>
                                        <td>@cData?.Cancel_Billing</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

