@model biVerifier.Models.User
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    Layout = "_LayoutNoNav";
    ViewBag.Title = "Login";
}



<div class="container" >
    <div class="row justify-content-center" style="margin-top: 13rem">
        <div class="box shadow-sm" style="width: 600px; box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.4);">
            <div class="box-header border-0" style="text-align: center">
                <img style="height: 60px" src="~/images/logo.jpg" alt="biVerifier Logo" class="img-fluid">
            </div>
            <div class="box-body">
                <div class="col-md-12">
                    <form asp-action="Login" asp-controller="Account" method="post" class="mt-4">
                        <div class="form-floating mb-4">
                            <input asp-for="UserName" class="form-control" />
                            <label asp-for="UserName" class="font-weight-bold" style="font-weight: bold">USERNAME</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input asp-for="UserPW" type="password" class="form-control"  style="border: 2px solid #cccc"/>
                            <label asp-for="UserPW" class="font-weight-bold" style="font-weight: bold">PASSWORD <span style="color: red">*</span> </label>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn text-uppercase fw-bold" style="background-color: #A51E24; border-color: #A51E24; color: white; border-radius: 10px">
                                Login
                            </button>
                        </div>
                    </form>

                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        <div class="alert alert-danger alert-dismissible fade show mt-3 shadow-sm rounded" role="alert" style="font-weight: 500;">
                            <i class="bi bi-exclamation-triangle-fill me-2"></i>
                            @ViewBag.ErrorMessage
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
