@model biVerifier.Models.User
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    ViewBag.Title = "Login";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="box" style="width: 600px">
            <div class="box-header">
                <h4 style="text-transform: uppercase; font-weight: bold">Login</h4>
            </div>
            <div class="box-body">
                <div class="col-md-12">
                    <form asp-action="Login" asp-controller="Account" method="post" class="mt-4">
                        <div class="form-floating mb-4">
                            <input asp-for="UserName" class="form-control" />
                            <label asp-for="UserName" class="font-weight-bold"></label>
                        </div>
                        <div class="form-floating mb-4">
                            <input asp-for="UserPW" class="form-control" />
                            <label asp-for="UserPW" class="font-weight-bold"></label>
                        </div>
                        <button type="submit" class="btn btn-primary text-capitalize" style="text-transform: uppercase; font-weight: bold">Login</button>
                    </form>

                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        <div class="alert alert-danger mt-3" role="alert">
                            @ViewBag.ErrorMessage
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
