@model List<biVerifier.Models.CRMData>

@{
    ViewData["Title"] = "CRM DATA LIST";

}

<div class="custom-container" style="margin-top: 4rem">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <div class="">
                        <div class="d-flex  align-items-center justify-content-between mb-20">
                            <div>
                                <h5 style="text-transform: uppercase ">FILTER RESULT</h5>
                            </div>
                            <div>
                                <button class="btn btn-primary">EXPORT TO EXCEL</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive rounded card-table">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Client Id</th>
                                    <th>Sites</th>
                                    <th>Contact Person</th>
                                    <th>Email Address</th>
                                    <th>Contact Number</th>
                                    <th>Number</th>
                                    <th>Street</th>
                                    <th>Suburb</th>
                                    <th>City</th>
                                    <th>Region</th>
                                    <th>Lead Source</th>
                                    <th>Service Type</th>
                                    <th>Market Type</th>
                                    <th>Category </th>
                                    <th>Consultant </th>
                                    <th>Branch </th>
                                    <th>Status </th>
                                    <th>Probability </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var data in Model)
                                {
                                    <tr class="hover-primary">
                                        <td>@data?.Consultant</td>
                                        <td>@data?.Sites</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>