@model List<biVerifier.Models.SitesData>

@{
    ViewData["Title"] = "SITES DATA";
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
    <script>
        function exportToExcel() {
            // Get the table element
            var table = document.getElementById('dataTable');

            // Convert the table to a worksheet
            var ws = XLSX.utils.table_to_sheet(table);

            // Create a new workbook
            var wb = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');

            XLSX.writeFile(wb, 'technicalsData.xlsx');
        }

        function hideTable() {
            var table = document.getElementById('dataTable');
            table.style.display = 'none';
        }

        // Call the hideTable function when the page loads
        window.onload = hideTable;

    </script>
}

<div class="custom-container" style="margin-top: 4rem">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <div class="">
                        <div class="d-flex align-items-center justify-content-between mb-20">
                            <div>
                                <h4 class="box-title" style="text-transform: uppercase; font-weight: bold;">OVERVIEW OF ALL SITES(TECHNICALS)</h4>
                            </div>
                            <div>
                                <button class="btn btn-primary" onclick="exportToExcel()">EXPORT TO EXCEL</button>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 mt-3">
                        <div class="col-md-6">
                            <form method="get" action="/Sites/Index">
                                <div class="form-floating mb-3">
                                    <input type="text" name="searchTerm" id="floatingSearch" class="form-control" placeholder="Search by Client or City" value="@ViewBag.SearchTerm">
                                    <label for="floatingSearch">Search by Client or City</label>
                                </div>
                                <button type="submit" class="btn btn-primary">Search</button>
                            </form>

                           
                        </div>
                        
                    </div>
                    <div class="table-responsive rounded card-table">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Site</th>
                                    <th>Client ID</th>
                                    <th>Contact Person</th>
                                    <th>Number</th>
                                    <th>Street</th>
                                    <th>Suburb</th>
                                    <th>City</th>
                                    <th>Region</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var cData in Model)
                                {
                                    <tr class="hover-primary">
                                        <td>@cData?.SiteID</td>
                                        <td>@cData?.Client</td>
                                        <td>@cData?.Contact_Person</td>
                                        <td>@cData?.Num</td>
                                        <td>@cData?.Street</td>
                                        <td>@cData?.Suburb</td>
                                        <td>@cData?.City</td>
                                        <td>@cData?.Region</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <table id="dataTable" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Site</th>
                                    <th>Client ID</th>
                                    <th>Contact Person</th>
                                    <th>Email Address</th>
                                    <th>Contact Number</th>
                                    <th>Number</th>
                                    <th>Street</th>
                                    <th>Suburb</th>
                                    <th>City</th>
                                    <th>Region</th>
                                    <th>DNS IP</th>
                                    <th>IPv4</th>
                                    <th>Server Port</th>
                                    <th>HTTP Port</th>
                                    <th>RSTP Port</th>
                                    <th>Username</th>
                                    <th>Password</th>
                                    <th>No Channels</th>
                                    <th>No Channels On Analytics</th>
                                    <th>Monitoring Platform</th>
                                    <th>GSM Radio</th>
                                    <th>Alarm Inputs</th>
                                    <th>Audio</th>
                                    <th>SMTP Server Port</th>
                                    <th>Public IP</th>
                                    <th>Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var cData in Model)
                                {
                                    <tr class="hover-primary">
                                        <td>@cData?.SiteID</td>
                                        <td>@cData?.Client</td>
                                        <td>@cData?.Contact_Person</td>
                                        <td>@cData?.EmailAdd</td>
                                        <td>@cData?.ContactNum</td>
                                        <td>@cData?.Num</td>
                                        <td>@cData?.Street</td>
                                        <td>@cData?.Suburb</td>
                                        <td>@cData?.City</td>
                                        <td>@cData?.Region</td>
                                        <td>@cData?.DNS_IP</td>
                                        <td>@cData?.IPv4</td>
                                        <td>@cData?.Server_Port</td>
                                        <td>@cData?.HTTP_Port</td>
                                        <td>@cData?.RTSP_Port</td>
                                        <td>@cData?.Username</td>
                                        <td>@cData?.Password</td>
                                        <td>@cData?.No_Channels</td>
                                        <td>@cData?.No_Channels_On_Analytics</td>
                                        <td>@cData?.Monitoring_Platform</td>
                                        <td>@cData?.GSM_Radio</td>
                                        <td>@cData?.Alarm_Inputs</td>
                                        <td>@cData?.Audio</td>
                                        <td>@cData?.SMTP_Server_Port</td>
                                        <td>@cData?.Public_IP</td>
                                        <td>@cData?.Notes</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
