html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f1f5f8;
    font-family: "Poppins", sans-serif !important;
}


.custom-container{
    margin-left: 3rem;
    margin-right: 3rem;
}


.card {
    border-radius: 10px;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 1.5rem !important;
    border: none
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 1.5rem;
}

    .card-body .card-title {
        margin-bottom: 0.75rem;
        border-bottom: none;
    }

.card-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 1.5rem;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

    .card-header .card-title {
        padding: 0;
        border: none;
    }

    .card-header > *:first-child {
        margin-left: 0;
    }

    .card-header > *:last-child {
        margin-right: 0;
    }

    .card-header > * {
        margin-left: 8px;
        margin-right: 8px;
    }

.card-title {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.card-controls {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
}

    .card-controls [data-bs-toggle="dropdown"],
    .card-controls .card-btn-reload {
        font-size: 1rem;
    }

    .card-controls li > a {
        font-size: 0.8571rem;
        display: inline-block;
        padding: 0 4px;
        margin: 0 4px;
        color: #608acf;
        opacity: 0.8;
        -webkit-transition: 0.3s linear;
        transition: 0.3s linear;
    }

.card-footer {
    padding: 1.5rem;
    background-color: transparent;
}

.card-inverse {
    color: #ffffff !important;
    background-color: #172b4c;
}

    .card-inverse h1,
    .card-inverse h2,
    .card-inverse h3,
    .card-inverse h4,
    .card-inverse h5,
    .card-inverse h6,
    .card-inverse .card-title,
    .card-inverse small,
    .card-inverse .card-controls li > a {
        color: #ffffff !important;
    }

.card-tt{
    text-transform: uppercase
}

.box {
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.05);
}

.box-header {
    color: #172b4c;
    display: block;
    padding: 1.5rem;
    position: relative;
    border-bottom: 1px solid rgba(72, 94, 144, 0.16);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box-body {
    padding: 1.5rem;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border-radius: 10px;
}

.box-header .box-title {
    display: inline-block;
    margin: 0;
    font-weight: 400;
}

.login-container {
    margin-top: 100px; /* Adjust as needed */
    text-align: center;
}

.login-form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

    .login-form h4 {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 20px;
    }

.form-floating input {
    border-radius: 5px;
}

.login-button {
    margin-top: 20px;
}

.nav-text {
    color: #A61D25 !important; 
    font-weight: 500; 
}

    .nav-text:hover {
        color: #fff;
        font-weight: 500;
    }
.nav-bar-color {

}

.nav-link {
    font-size: 20px;
    text-transform: uppercase;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 10px;
}

.nav-link:hover {
    color: #fff !important; /* Change to the color you prefer */
    background-color: #258cfb; /* Change to the background color you prefer */
    border-radius: 10px;
}
    .nav-link.active {
        color: #fff !important; /* Change to the active color you prefer */
        background-color: #0056b3; /* Change to the active background color you prefer */
        border-radius: 10px;
        font-weight: bold; /* Optional: Makes the active link bold */
    }
.section-span {
    display: inline-block;
    max-width: 150px; /* Adjust the max width as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}