@model List<biVerifier.Models.CRMData>


@{
    ViewData["Title"] = "Filter By Business Type";
}

<div class="container" style="margin: 3rem">
    <div class="box">
        <div class="box-body">
            <h5 style="text-transform: uppercase">Filter By Province</h5>

            <div class="box">
                <div class="box-body">
                    <form id="businessForm" method="post" action="/Reports/FilterByBusinessType">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select class="form-control" id="businessSelect" name="businessType">
                                        <option value="">Select Province</option>
                                        <option value="BC">BC</option>
                                        <option value="C">C</option>
                                        <option value="D">D</option>
                                        <option value="KA">KA</option>
                                        <option value="LPR">LPR</option>
                                        <option value="Comm">Comm</option>
                                        <option value="R">R</option>
                                      
                                    </select>
                                    <label for="businessSelect">FILTER BY BUSINESS TYPE</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-dark">FILTER BY BUSINESS TYPE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>





</div>